*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 100vw;
    height: 100vh;
    grid-template-areas:
     "header header header header header"
     "header header header header header"
     "maincontent maincontent maincontent maincontent maincontent"
     "maincontent maincontent maincontent maincontent maincontent"
     "maincontent maincontent maincontent maincontent maincontent"
     "maincontent maincontent maincontent maincontent maincontent"
     "maincontent maincontent maincontent maincontent maincontent"
     "maincontent maincontent maincontent maincontent maincontent"
     "maincontent maincontent maincontent maincontent maincontent"
     "footer footer footer footer footer"
    ;

}

.header{
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: rgba(85, 85, 85, 0.507);
    box-shadow: 5px 5px 10px black;
}

.title{
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;

}

.menu-section{
    display: flex;
    position: absolute;
    left: 4rem;
    top: 4rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.menu-btn{
    width: 6rem;
    height: 4rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
    border: none;
    
}

.menu-btn img{
    width: 2rem;
    height: 2rem;
    transform: scale(1.5);
}

.menu-btn:hover{
    background-color: white;
    
}

.menu-btn:active{
    background-color: rgb(211, 211, 211);
    
}

.options{
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    justify-content: space-between;
    
    transform: translateY(-10px);
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.options.showing{
    opacity: 1;
    transform: translateY(0);
}

.options p{
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease-in-out;
    padding: 1rem;
    border-radius: 2rem;
}

.options p:hover{
    text-shadow: 0px 0px 1px black;
    background-color: white;
    
}

.options p:active{
    background-color: rgb(223, 223, 223);
}



.maincontent{
    grid-area: maincontent;
    background-color: rgba(255, 255, 255, 0.616);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: orange;
}

.maincontent h1{
    display: flex;
    flex: 1;
    font-size: 3rem;
}

.maincontent p{
    display: flex;
    flex: 5;
    font-size: 1.5rem;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: white;
    background-color: black;
    align-items: center;
    font-size: 2rem;
}


.active{
    background-color: white;
    text-shadow: 0px 0px 1px black;
}


